<!DOCTYPE html>
<html lang="es">

<% include components/head %>

<body>
  
  <% include components/header %>

  <% include components/front %>

  <main class="Main">
    
    <% include components/login %>

    <h1 class="Main-title">Blog</h1>
    <section class="Posts">
      <article class="Posts-item">
        <figure class="image">
          <a href="blog/1/view">
            <img src="/assets/images/avril-lavigne-2.jpg" alt="{{ title }}">
          </a>
        </figure>
        <div class="container">
          <h2 class="title"><a href="blog/1/view" class="link">Titulo largo</a></h2>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irured.
          </p>
          <time class="date">12 mar 2019</time>
        </div>
      </article>
      <article class="Posts-item">
        <figure class="image">
          <a href="blog/1/view">
            <img src="/assets/images/blog_1.jpg" alt="{{ title }}">
          </a>
        </figure>
        <div class="container">
          <h2 class="title"><a href="blog/1/view" class="link">Titulo largo</a></h2>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irured.
          </p>
          <time class="date">12 mar 2019</time>
        </div>
      </article>
      <article class="Posts-item">
        <figure class="image">
          <a href="blog/1/view">
            <img src="/assets/images/blog_1.jpg" alt="{{ title }}">
          </a>
        </figure>
        <div class="container">
          <h2 class="title"><a href="blog/1/view" class="link">Titulo largo</a></h2>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irured.
          </p>
          <time class="date">12 mar 2019</time>
        </div>
      </article>
    </section>
  </main>


  <div class="Subscribe">
    <span class="Subscribe-title">Quieres leer mas contenido como este</span>
    <form class="Subscribe-form">
      <span class="text">Susbribete</span>
      <input type="text" name="name" class="name input" placeholder="Nombre">
      <input type="email" name="email" class="email input" placeholder="Correo electronico">
      <button type="submit" class="btn input">Suscribirme</button>
    </form>
  </div>

  <% include components/footer %>
  
  <div class="opacity" id="opacity"></div>
  <script src="/app/app.js"></script>
</body>
</html>
