<!DOCTYPE html>
<html lang="es">

<% include components/head %>

<body>
  
  <% include components/header %>
  
  <% include components/front %>

  <main class="Main">
    <div class="Login" id="login">
      <a href="#" class="Login-close icon-close"></a>
      <span class="Login-message">Bienvenidos a Radio Universal</span>
      <div class="Login-buttons">
        <a href="#" class="Login-btn facebook">
          <span class="icon icon-facebook"></span>
          <span class="text">Conectate con Facebook</span>
        </a>
        <a href="#" class="Login-btn twitter">
          <span class="icon icon-twitter"></span>
          <span class="text">Conectate con Twitter</span>
        </a>
      </div>
    </div>
    <h1 class="Main-title">Contacto</h1>
    </section>
  </main>

  <% include components/footer %>

  <div class="opacity" id="opacity"></div>
  <script src="/app/app.js"></script>
</body>
</html>

