<!DOCTYPE html>
<html lang="es">

<% include components/head %>

<body>

  <% include components/header %>

  <% include components/front %>

  <main class="Main">
    <section class="Player">
      <p>¿ Player ?</p>
    </section>
    <div class="RequestSong" id="requestSong">
      <a href="#" class="RequestSong-close icon-close x-close"></a>
      <span class="RequestSong-text">Pide una cancion</span>
      <form class="RequestSong-form">
        <input type="text" class="name input" placeholder="Nombre de la cancion" id="song-name" required>
        <textarea class="message input" placeholder="Mensaje" id="text"></textarea>
        <button type="submit" class="send">
          <span class="icon-send"></span>
        </button>
      </form>
    </div>
    
    <% include components/login %>

    <section class="Chat" id="chat">
      <div class="Chat-opacity"></div>
      <aside class="Chat-leftMenu" id="chat-leftMenu">
        <span class="title">Usuarios Activos</span>
        <ul class="list" id="list-users">
          <!-- Users ACTIVES -->
        </ul>
        <div class="profile" id="chat-user">
          <!-- User DATA -->
        </div>
      </aside>

      <div class="Chat-main">
        <div class="messages" id="chat-messages">
          <!-- Messages -->
        </div>
      </div>

      <form class="Chat-send" id="chat-send" action="/send">
        <button type="button" class="icon-more btn" id="btn-more"></button>
        <textarea class="message" type="text" maxlength="140" placeholder="Escribir mensaje"required></textarea>
        <button class="icon-send btn" type="submit"></button>
      </form>
    </section>
  </main>

  <section class="Slider">
    <h2 class="Slider-title">Nuestros Anunciantes:</h2>
    <div class="slider4 Slider-container">
      <div class="slide">
        <img class="slide-image" src="/assets/images/anuncio1.jpg">
        <h3 class="slide-title">Arepera Lopez S.A</h3>
        <div class="slide-contact">
          <span class="slide-phone">
            <span class="icon-phone"></span>
            0414-9324232
          </span>
          <span class="slide-address">
            <span class="icon-location"></span>
            Guanare, calle 3425, sector background.
          </span>
        </div>
      </div>
      <div class="slide">
        <img class="slide-image" src="/assets/images/anuncio2.jpg">
        <h3 class="slide-title">Hotel Old Spice C.A</h3>
        <div class="slide-contact">
          <span class="slide-phone">
            <span class="icon-phone"></span>
            0257-9656332
          </span>
          <span class="slide-address">
            <span class="icon-location"></span>
            Guanare, calle 45, sector Palo Alto.
          </span>
        </div>
      </div>
      <div class="slide">
        <img class="slide-image" src="/assets/images/anuncio3.jpg">
        <h3 class="slide-title">Max Burger C.A</h3>
        <div class="slide-contact">
          <span class="slide-phone">
            <span class="icon-phone"></span>
            0416-3245645
          </span>
          <span class="slide-address">
            <span class="icon-location"></span>
            Guanare, calle 1244, sector Arenosa.
          </span>
        </div>
      </div>
      <div class="slide">
        <img class="slide-image" src="/assets/images/anuncio4.jpg">
        <h3 class="slide-title">La Paz del Señor S.A</h3>
        <div class="slide-contact">
          <span class="slide-phone">
            <span class="icon-phone"></span>
            0412-6743673
          </span>
          <span class="slide-address">
            <span class="icon-location"></span>
            Guanare, calle 2, sector Las America.
          </span>
        </div>
      </div>
      <div class="slide">
        <img class="slide-image" src="/assets/images/anuncio5.jpg">
        <h3 class="slide-title">DiscoMania C.A</h3>
        <div class="slide-contact">
          <span class="slide-phone">
            <span class="icon-phone"></span>
            0412-45124566
          </span>
          <span class="slide-address">
            <span class="icon-location"></span>
            Guanare, calle 95, sector Altamira.
          </span>
        </div>
      </div>
    </div>
  </section>

  <% include components/footer  %>

  <div class="opacity" id="opacity"></div>
  <script src="/app/app.js"></script>
</body>
</html>
