.Header
  &-login-dropdown
    display block
  &-btn-menu
    display none
  &-profile
    .menu-dropdown
      .link
        &#btn-reqSong
          display none
  &-menu
    margin-left .5em
    display inline-block
    background none
    left 0
    padding 0
    position static
    box-shadow none
    .logo-mobile
      display none
    .list
      padding 0
      .item
        display inline-block
      .link
        white-space nowrap
        display inline-block
        line-height 84px
        padding 0 1em
        color blanco
        border-top 6px transparent solid
        &:hover
          border-color gris_mas_claro
          background rosa
