.Header
  background rosa
  color blanco
  height 60px
  overflow: hidden;
  &-login-dropdown
    display none
    background rgba(rosa_claro, 0.5)
    color blanco
    position absolute
    top 70px
    width 100%
    z-index 1
    height 70px
    box-shadow 0 10px 10px rgba(gris, .5)
    .close
      font-size 3em
      text-decoration none
      display inline-block
      line-height 70px
      color blanco
      float left
      margin 0 .8rem
    .title
      subtitle_tablet(blanco)
      display inline-block
      line-height 70px
    .buttons
      display inline-block
      float right
      margin-right 1.5em
      padding .5em 0
      .btn
        border-radius .1em
        display inline-block
        width 250px
        height 54px
        text-decoration none
        subtitle_tablet(blanco)
        &.twitter
          background twitter
        &.facebook
          background facebook
        .text
          font-size 14px
          line-height 54px
          &:before
            content: ""
            border 1px rgba(gris, 0.3) solid
            margin-right .3rem
        .icon
          position: relative;
          top 4px
          margin-left .5rem
          margin-right .3rem
          font-size 1.5rem

  &-btn-login
    display block
    subtitle_mobile(blanco)
    float right
    text-decoration none
    line-height 60px
    padding 0 1em
  &-btn-menu
    color blanco
    text-decoration none
    display inline-block
    font-size 2em
    float left
    padding-left 1.25rem
    padding-right .6rem
    line-height 60px

  &-menu
    position fixed
    top 0
    left -100%
    padding .5em 0
    background blanco
    border blanco solid 1px
    width 85%
    height 100vh
    box-shadow 0 10px 10px rgba(gris, 0.5)
    z-index 11
    overflow-y: auto
    .logo-mobile
      padding 0
      display block
      margin 0 auto
      width 85%
      padding-bottom .8em
      border-bottom 1px gris_claro solid
      img
        margin 0 auto
        display block
        width 156px
        height 156px
    .list
      list-style none
      margin 0
      padding 1em 0
      .link
        subtitle_mobile(gris)
        color gris
        display block
        overflow hidden
        padding 1rem 7.5%
        text-decoration none
        text-overflow ellipsis
        transition .4s all
        &:hover
          background gris_mas_claro
        &.is-active
          background rosa
          color blanco

  &-profile
    padding .6rem 2rem .6rem .6rem
    float right
    .avatar
      cursor pointer
      margin 0
      position: relative;
      &:after
        content: ""
        position absolute
        right: -15px
        top 45%
        border-left 6px transparent solid
        border-right 6px transparent solid
        border-top 7px blanco solid

      img
        border-radius 50%
        display block
        width 40px
        height 40px

  &-notification
    position fixed
    box-shadow 0px 0px 10px
    right 1em
    padding 0 .5em
    border-radius .2em
    background #DFF0D8
    top 1em
    color #557641
    border 1px rgba(60, 118, 70, 0.17) solid
    font-size 14px
    z-index 12


  .menu-dropdown
    display none
    width 70%
    max-width 200px
    background blanco
    position absolute
    top 59px
    right 1.25em
    box-shadow 0 1px 20px -1px rgba(gris, 0.5);
    border-radius .15em
    z-index 11
    &:before
      content ""
      border-left 10px transparent solid
      border-right 10px transparent solid
      border-bottom 10px blanco solid
      position absolute
      top -8px
      right 1.4em
    .list
      margin 0
      padding 0
      list-style none
      .link
        subtitle_mobile(gris)
        display block
        padding .8rem
        text-decoration none
        color gris
        transition all .4s
        &:hover
          background gris_mas_claro
