.Header
  height 100px
  overflow: hidden;

  &-btn-login
    display inline-block
    subtitle_tablet(blanco)
    line-height 100px

  &-btn-menu
    font-size 3em
    line-height 100px

  &-menu
    .logo-mobile
      img
        height 240px
        width 240px
    .list
      .link
        subtitle_tablet(gris)

  &-profile
    padding 1rem 1.25rem 1rem 1rem
    .avatar
      img
        width 70px
        height 70px
