@import 'nib'
@import 'normalize.styl'
@import 'fonts.styl'

/*Colors*/
blanco = #FAFAFA
rosa = #EE6E73
rosa_claro = #FFCDD2
rosa_mas_claro = #FFEBEE
gris = #4D4D4D
gris_claro = #999999
gris_mas_claro = #F2F2F2
verde = #6CC644
gmail = #c94e36
facebook = #3B5998
twitter = #1DA1F2
book = #08AAF5

body
  position relative
  background blanco
  font-family Roboto
  color gris

// =============================
// MOBILE MIXINS FONTS SIZE ====
// =============================

title_mobile(color)
  font-size 21px
  font-weight 700
  color color

subtitle_mobile(color)
  font-size 16px
  font-weight 500
  color color

paragraph_mobile(color)
  font-size 12px
  font-weight 200
  color color

// =============================
// TABLET MIXINS FONTS SIZE ====
// =============================

title_post_tablet(color)
  font-size 3em
  font-weight 700
  color color

title_tablet(color)
  font-size 24px
  font-weight 700
  color color

subtitle_tablet(color)
  font-size 18px
  font-weight 500
  color color

paragraph_tablet(color)
  font-size 16px
  color color
  font-weight 200

little_tablet(color)
  font-size 14px
  color color
  font-weight normal

@import './header/style.styl'
@import './chat/style.styl'
@import './login/style.styl'
@import './requestSong/style.styl'
@import './posts/style.styl'
@import './post-single/style.styl'


.Front
  display none

.Main
  overflow hidden
  padding-bottom: 1em
  &.blog
    max-width none
    margin 0
.Player
  margin 1.6em auto
  background gris_mas_claro
  height 100px
  max-width 1000px
  p
    margin 0
    padding 0
    text-align center
    line-height 100px
    color gris_claro
.Footer
  display: none
  background gris
  color blanco
  padding 1em
  &-main
  &-bottom
    display none

.opacity
  display none
  z-index 10
  position fixed
  width: 100%
  top 0
  bottom 0
  background: rgba(gris, 0.5)

// =========================
// TABLET 768px ============
// =========================

@media screen and (min-width:768px)
  .Player
    height 210px
    p
      line-height 210px
  @import './header/tablet.styl'
  @import './chat/tablet.styl'
  @import './login/tablet.styl'
  @import './requestSong/tablet.styl'
  @import './posts/tablet.styl'
  @import './post-single/tablet.styl'

// =========================
// DESkTOP 1024px ==========
// =========================

@media screen and (min-width:1024px)
  body
    background gris_mas_claro
  .Main
    max-width 1000px
    margin 1em auto
    overflow hidden
  .Player
    background blanco
    box-shadow  0 0 4px 1px rgba(gris_claro, .2)
    width 600px
    height 275px
    float: left
    margin 0  1.4em 0 0
    margin-right
    display inline-block

  @import './chat/desktop.styl'
  @import './header/desktop.styl'
  @import './requestSong/desktop.styl'
  @import './posts/desktop.styl'
  @import './front/desktop.styl'
  @import './footer/desktop.styl'
