@font-face {
    font-family: 'icomoon';
    src:    url('assets/fonts/icomoon.eot?9are77');
    src:    url('assets/fonts/icomoon.eot?9are77#iefix') format('embedded-opentype'),
        url('assets/fonts/icomoon.ttf?9are77') format('truetype'),
        url('assets/fonts/icomoon.woff?9are77') format('woff'),
        url('assets/fonts/icomoon.svg?9are77#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e912";
}
.icon-add2:before {
    content: "\e913";
}
.icon-edit:before {
    content: "\e914";
}
.icon-pageview:before {
    content: "\e915";
}
.icon-remove:before {
    content: "\e916";
}
.icon-remove2:before {
    content: "\e917";
}
.icon-settings:before {
    content: "\e918";
}
.icon-website:before {
    content: "\e919";
}
.icon-contact_email:before {
    content: "\e90f";
}
.icon-share:before {
    content: "\e910";
}
.icon-business:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e901";
}
.icon-email_black:before {
    content: "\e902";
}
.icon-arrow_down:before {
    content: "\e903";
}
.icon-arrow_up:before {
    content: "\e904";
}
.icon-location:before {
    content: "\e905";
}
.icon-email_white:before {
    content: "\e906";
}
.icon-menu:before {
    content: "\e907";
}
.icon-more:before {
    content: "\e908";
}
.icon-phone:before {
    content: "\e909";
}
.icon-send:before {
    content: "\e90a";
}
.icon-book:before {
    content: "\e90e";
}
.icon-user:before {
    content: "\e90b";
}
.icon-facebook:before {
    content: "\e90c";
}
.icon-facebook2:before {
    content: "\e911";
}
.icon-twitter:before {
    content: "\e90d";
}
