.Post
  padding-bottom 2em
  &-cover
    position relative
    .image
      padding 0
      margin 0
      display block
      img
        min-height 100px
        width 100%
    .title
      title_mobile(blanco)
      position absolute
      padding .5rem
      bottom 5%
      left: 0
      right: 0
      text-align center

  &-meta
    max-width 1000px
    margin 0 auto
    width 80%
    overflow hidden
    .date
      paragraph_mobile(gris_claro)
      padding-top .5em
      float right

  &-content
    max-width 1000px
    margin 0 auto
    width 80%
    max-width 1400px
    p
      img
        max-width 400px
        width 100%
