.Post
  &-cover
    position relative
    .image
      padding 0
      margin 0
      display block
      img
        min-height 100px
        width 100%
    .title
      title_mobile(blanco)
      position absolute
      padding .5rem
      bottom 5%
      left: 0
      right: 0
      text-align center

  &-meta
    margin 0 auto
    width 80%
    max-width 1400px
    overflow hidden
    .date
      padding-top .5em
      float right
      color gris_claro

  &-content
    margin 0 auto
    width 80%
    max-width 1400px
    p
      img
        width 100%
