.Post
  &-cover
    .title
      title_post_tablet(blanco)
  &-meta
    .date
      little_tablet(gris_claro)
  &-content
    paragraph_tablet(gris)

.share
  .text
    subtitle_tablet(rosa)
  .buttons
    .btn-share
      paragraph_tablet(blanco)
      font-weight normal
