.Main-title
  title_mobile(rosa)
  border-bottom 1px gris_claro solid
  text-align center
  width 80%
  max-width 1000px
  margin 0 auto
  padding .5em 0

.Posts
  width 80%
  max-width 1000px
  margin 1em auto
  padding-bottom 2em
  &-item
    border-bottom 3px rosa solid
    overflow hidden
    background gris_mas_claro
    border-radius .1em
    margin-top 1em
    .image
      padding 0
      margin 0
      height 125px
      overflow hidden
      background gris
      img
        display block
        width 100%
        height 120%
        opacity .5
    .container
      overflow hidden
      padding .5em
      .title
        padding 0
        margin 0
        title_mobile(rosa)
        .link
          text-decoration none
          color rosa
      .description
        min-height 100px
        paragraph_mobile(gris)
        text-align center
      .date
        color gris_claro
        font-size 10px
        float right

.Subscribe
  background gris_mas_claro
  color gris
  padding 1em
  margin 0 auto
  text-align center
  &-title
    subtitle_mobile(rosa)
    display block
  &-form
    color gris
    margin 0 auto
    margin-top 1em
    width 75%
    .text
      color gris
      display block
      font-size 14px
      padding .5rem
    .input
      width 100%
      border-radius .1em
      height 34px
      border none
      outline none
      text-indent 1em
      margin-top .5em
      font-size: 14px
    .btn
      text-indent 0
      background rosa
      color blanco
