.Main-title
  title_mobile(rosa)
  border-bottom 1px gris_claro solid
  text-align center
  width 80%
  margin 0 auto
  padding .5em 0

.Posts
  width 80%
  margin 1em auto
  &-item
    border-bottom 3px rosa solid
    overflow hidden
    background gris_mas_claro
    border-radius .1em
    margin-top 1em
    .image
      padding 0
      margin 0
      img
        display block
        width 100%
    .container
      overflow hidden
      padding .5em
      .title
        padding 0
        margin 0
        subtitle_mobile(rosa)
        .link
          text-decoration none
          color rosa
      .description
        paragraph_mobile(gris)
        text-align center
      .date
        color gris_claro
        font-size .8em
        float right


.Subscribe
  background gris
  color blanco
  padding 1em
  margin 0 auto
  text-align center
  &-title
    subtitle_mobile(rosa)
    display block
  &-form
    color gris
    margin 0 auto
    margin-top 1em
    width 75%
    .text
      color blanco
      display block
      font-size 1.2em
      padding .5rem
    .input
      width 100%
      border-radius .1em
      height 34px
      border none
      outline none
      text-indent 1em
      margin-top .5em
    .btn
      background rosa
      color blanco
