.Main-title
  title_tablet(rosa)
.Posts
  display flex
  flex-wrap wrap
  &-item
    flex auto
    margin 2%
    max-width 46%
    .container
      .title
        subtitle_tablet(rosa)
      .description
        min-height 150px
        paragraph_tablet(gris)
      .date
        little_tablet(gris_claro)

.Subscribe
  &-title
    subtitle_tablet(rosa)
  &-form
    margin-bottom 1em
    width 100%
    .text
      paragraph_tablet(blanco)
      font-weight normal
    .input
      paragraph_tablet(gris)
      font-weight normal
      width 195px
      display inline-block
      &:nth-child(even)
        margin: .5rem
    .btn
      color blanco
