.Main-title
  title_tablet(rosa)
.Posts
  display flex
  flex-wrap wrap
  &-item
    flex auto
    margin 2%
    max-width 46%
    .container
      .title
        subtitle_tablet(rosa)

.Subscribe
  &-title
    subtitle_tablet(rosa)
  &-form
    margin-bottom 1em
    width 100%
    .input
      width 195px
      display inline-block
      &:nth-child(even)
        margin: .5rem
