.Login
  width 650px
  top 15%
  left 50%
  margin-left -325px
  &-close
    font-size 2em
  &-message
    title_tablet(rosa)
  &-buttons
    padding 4em 0
    width 80%
    max-width 500px
  &-btn
    padding 1.5em 1em
    .icon
      .text
        font-size 1.8em
        font-size 1.8em
