<!DOCTYPE html>
<html lang="es">

<% include components/head %>

<body>
  
  <% include components/header %>


  <main class="Main">
    <section class="Main-controls">
      <p>¿ Controles Player ?</p>
    </section>
    <h2 class="Main-text top">Solicitudes</h2>
    <section class="Main-requests" id="requests">
      <!-- Requests Songs -->
    </section>

    <h2 class="Main-text">Contenido Publicado</h2>
    <section class="Main-posts">
      <article class="Main-posts-item">
        <p class="name"><a href="/blog/1/view">La esquina redona</a></p>
        <p class="date">13 de junio 2016 a las 01:16</p>
        <ul class="options">
          <li class="options-item">
            <a href="/blog/1/view" class="link" title="Ver">
              <span class="icon-website"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="/blog/new" class="link" title="Editar">
              <span class="icon-edit"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="#" class="link" title="Eliminar">
              <span class="icon-remove2"></span>
            </a>
          </li>
        </ul>
      </article>
      <article class="Main-posts-item">
        <p class="name"><a href="/blog/1/view">La esquina redona</a></p>
        <p class="date">13 de junio 2016 a las 01:16</p>
        <ul class="options">
          <li class="options-item">
            <a href="/blog/1/view" class="link" title="Ver">
              <span class="icon-website"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="/blog/new" class="link" title="Editar">
              <span class="icon-edit"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="#" class="link" title="Eliminar">
              <span class="icon-remove2"></span>
            </a>
          </li>
        </ul>
      </article>
      <article class="Main-posts-item">
        <p class="name"><a href="/blog/1/view">La esquina redona</a></p>
        <p class="date">13 de junio 2016 a las 01:16</p>
        <ul class="options">
          <li class="options-item">
            <a href="/blog/1/view" class="link" title="Ver">
              <span class="icon-website"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="/blog/new" class="link" title="Editar">
              <span class="icon-edit"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="#" class="link" title="Eliminar">
              <span class="icon-remove2"></span>
            </a>
          </li>
        </ul>
      </article>
      <article class="Main-posts-item">
        <p class="name"><a href="/blog/view">La esquina redona</a></p>
        <p class="date">13 de junio 2016 a las 01:16</p>
        <ul class="options">
          <li class="options-item">
            <a href="/blog/1/view" class="link" title="Ver">
              <span class="icon-website"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="/blog/new" class="link" title="Editar">
              <span class="icon-edit"></span>
            </a>
          </li>
          <li class="options-item">
            <a href="#" class="link" title="Eliminar">
              <span class="icon-remove2"></span>
            </a>
          </li>
        </ul>
      </article>

      <button type="button" class="btn-more"><span class="icon-add"></span>Cargar mas</button>
    </section>
  </main>


  <div class="opacity" id="opacity"></div>
  <script src="/admin/app.js"></script>
</body>
</html>
