.Front
  display block
  max-height 460px
  position: relative;
  img
    width: 100%
    max-height: 460px
  &-btn-down
    border none
    background none
    font-size 3.5em
    color blanco
    bottom 1rem
    outline none
    width 50px
    left 50%
    margin-left -25px
    position absolute
