.Main
  &-text
    width 100%
    overflow: hidden;
    &.top
      display none
  &-controls
    height 300px
    display inline-block
    width 48%
    background blanco
    float: left;
    p
      line-height 300px
  &-requests
    max-height 300px
    float: right;
    display inline-block
    width 48%
    background blanco
  &-posts
    width 100%
    overflow: hidden;
