.Main
  &-text
    title_tablet(rosa)

  &-requests
    .message
      &-userImage
        width 60px
        height 60px
        border-radius 50%
        margin-right .5em
      &-container
        display inline-block
        width 100%
        .name
          subtitle_tablet(gris)
        .text
          paragraph_tablet(gris)
        .date
          font-size 14px
  &-posts
    &-item
      paragraph_tablet(gris)
      font-weight normal
      .btn-options
        background none
        font-size 3em
