<header class="Header">
  <a href="#" class="Header-btn-menu icon-menu" id="btn-menu"></a>
  <nav class="Header-menu" id="menu">
    <figure class="logo-mobile">
      <img src="/assets/images/logo.png" alt="radio universal 101.3fm">
    </figure>
    <ul class="list">
      <li class="item">
        <a href="/" class="link is-active">
          <span class="icon-website"></span>
          Website
        </a>
      </li>
      <li class="item">
        <a href="/blog/new" class="link">
          <span class="icon-add2"></span>
          Nuevo Post
        </a>
      </li>
      <li class="item">
        <a href="/anuncio/new" class="link">
          <span class="icon-add"></span>
          Nuevo Anuncio
        </a>
      </li>
      <li class="item">
        <a href="/admin" class="link">
          <span class="icon-settings"></span>
          Admin
        </a></li>
    </ul>
  </nav>
  <div class="Header-profile">
    <figure class="avatar" id="avatar">
      <img src="/assets/images/profile2.jpg" alt="username">
    </figure>
    <div class="menu-dropdown" id="user-menu">
      <ul class="list">
        <li class="item"><a href="#" class="link">Admin</a></li>
        <li class="item"><a href="/logout" class="link">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</header>
