.Chat
  height 690px
  img
    min-width 60px
    height 60px
    width 60px

  &-leftMenu
    height 690px
    .title
      title_tablet(rosa)
    .list
      .user
        height 70px
        &-name
          line-height 70px
          subtitle_tablet(gris)
          font-weight normal

    .profile
      height 90px
      &-image
        margin 1em
      &-data
        padding 1.6em
        .name
          subtitle_tablet(blanco)
          font-weight normal
        .status
          top .5rem
          little_tablet(blanco)
        .icon-arrow_up
          font-size 3em

  &-main
    height 600px
    .messages
      height calc(585px - .62em)
      .message
        &-container
          .author
            subtitle_tablet(gris)
          .text
            paragraph_tablet(gris)
          .date
            little_tablet(gris_claro)

  &-send
    height 90px
    border red 1px solid
    .btn
      top 1.5rem
      font-size 3em
    .message
      paragraph_tablet(gris)
      padding 2.5rem 4rem
      width calc(100% - 128px)
      height calc(100% - 5rem)
