.Chat
  height 670px
  img
    min-width 50px
    height 50px
    width 50px

  &-leftMenu
    height 670px
    .title
      title_tablet(rosa)
    .list
      .user
        height 50px
        &-name
          line-height 50px
          subtitle_tablet(gris)
          font-weight normal

    .profile
      height 70px
      &-image
        margin .6sem
      &-data
        padding 1em
        .name
          subtitle_tablet(blanco)
          font-weight normal
        .status
          top .1rem
          little_tablet(blanco)
          &:before
            top 4px
            left -13px
        .icon-arrow_up
          font-size 2.5em
          &:before
            position relative
            top 6px

  &-main
    height 600px
    .messages
      height calc(585px - .62em)
      .message
        &-container
          .author
            subtitle_tablet(gris)
          .text
            paragraph_tablet(gris)
          .date
            little_tablet(gris_claro)

  &-send
    height 70px
    border red 1px solid
    .btn
      top 1rem
      font-size 2.5em
    .message
      padding 1.5rem 4rem .5rem 4rem
      paragraph_tablet(gris)
      //padding 1rem 4rem
      width calc(100% - 128px)
      height calc(100% - 2rem)
