.RequestSong
  width 650px
  left 50%
  margin-left -325px
  &-close
    font-size 2em
  &-text
    title_tablet(rosa)
  &-form
    padding 2em
    padding-bottom .5em
    .input
      paragraph_tablet(gris)
      font-weight normal
