.Footer
  display block
  .icon
    &-location
      color #D53F40
    &-email_black
      color gris_claro
    &-phone
      color verde
    &-book
      color book
    &-business
      color #07bc6b
    &-facebook2
      color #ffffff
      &:before
        background facebook
    &-twitter
      color twitter

  &-main
    max-width 1400px
    margin 0 auto
    display flex
    .contact
      padding 1em
      flex 1
      border-right 1px gris_mas_claro solid
      .logo-little
        width 136px
        height 136px
        display block
        img
          height 100%
          width: 100%
      .title
        subtitle_tablet(rosa)
        font-weight bold
      .list
        margin 0
        padding 0
        list-style none
        .link
          display block
          paragraph_tablet(blanco)
          font-weight normal
          padding .5rem 0
          text-decoration none
          span
            position relative
            bottom -5px
            font-size 1.4em
            margin-right .2em

    .submenu
      padding 1em
      flex 1
      border-right 1px gris_mas_claro solid
      .title
        margin-top 0
        subtitle_tablet(rosa)
        font-weight bold
      .list
        margin 0
        padding 0
        list-style none
        .item
          padding .5rem 0
        .link
          text-decoration none
          paragraph_tablet(blanco)
          font-weight normal
          span
            position relative
            bottom -5px
            font-size 1.4em
            margin-right .2em
    .tweets
      padding 1em
      flex 1
      &-container
        background blanco
        width 90%
        height 300px
        margin 0 auto
      &-top
        background twitter
        text-align center
        .text
          display inline-block
          line-height 55px
          subtitle_tablet(blanco)
        button
          font-size 2.5em
          padding .5rem
          border none
          background none
          color blanco
          margin 0 auto
          &.icon-twitter
            float left
          &.icon-share
            float right


  &-bottom
    padding-top 2em
    display block
    text-align: center;
    paragraph_tablet(blanco)
    font-weight normal
    .authors
      a
        color gris_claro
