.Footer
  background gris
  display block
  .icon
    &-location
      color #D53F40
    &-email_black
      color gris_claro
    &-phone
      color verde
    &-book
      color book
    &-business
      color #07bc6b
    &-facebook2
      color #ffffff
      &:before
        background facebook
    &-twitter
      color twitter

  &-main
    max-width 1400px
    margin 0 auto
    display flex
    flex-direction column
    .contact
      padding 1em
      border-bottom 1px gris_mas_claro solid
      .logo-little
        display none
      .title
        subtitle_mobile(rosa)
        font-weight bold
      .list
        margin 0
        padding 0
        list-style none
        .link
          display block
          paragraph_mobile(blanco)
          font-weight normal
          padding .5rem 0
          text-decoration none
          span
            position relative
            bottom -3px
            font-size 1.4em
            margin-right .2em

    .submenu
      padding 1em
      .title
        margin-top 0
        subtitle_mobile(rosa)
        font-weight bold
      .list
        margin 0
        padding 0
        list-style none
        .item
          padding .5rem 0
        .link
          text-decoration none
          paragraph_mobile(blanco)
          font-weight normal
          span
            position relative
            bottom -3px
            font-size 1.4em
            margin-right .2em
    .tweets
      display none
      padding 1em
      flex 1
      &-container
        display none
        
  &-bottom
    padding 2em 1em 1em 1em
    display block
    text-align: center;
    paragraph_mobile(blanco)
    font-weight normal
    .authors
      a
        color gris_claro
