<section class="Front" id="portada">
  <figure class="Front-logo">
    <img src="/assets/images/logo.png" alt="radio universal">
  </figure>
  <button type="button" class="Front-btn-down icon-arrow_down" id="btn-down"></button>
</section>