<header class="Header" id="header">
  <a href="#" class="Header-btn-menu icon-menu" id="btn-menu"></a>
  <nav class="Header-menu" id="menu">
    <figure class="logo-mobile">
      <img src="/assets/images/logo.png" alt="radio universal 101.3fm">
    </figure>
    <ul class="list">
      <li class="item"><a href="/" class="link is-active">Inicio</a></li>
      <li class="item"><a href="/blog" class="link">Blog</a></li>
      <li class="item"><a href="/contacto" class="link">Contactanos</a></li>
      <li class="item"><a href="/nosotros" class="link">Nosotros</a></li>
      <li class="item"><a href="/admin" class="link">Admin</a></li>
    </ul>
  </nav>
  <div class="Header-profile">
    <figure class="avatar" id="avatar">
      <img src="/assets/images/profile1.jpg" alt="username">
    </figure>
    <div class="menu-dropdown" id="user-menu">
      <ul class="list">
        <li class="item"><a href="#" class="link" id="btn-reqSong">Pedir Cancion</a></li>
        <li class="item"><a href="#" class="link">Historial</a></li>
        <li class="item"><a href="/logout" class="link">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>

  <a href="#" class="Header-btn-login" id="btn-login">Iniciar Sesión</a>

  <div class="Header-login-dropdown" id="login-dropdown">
    <a href="#" class="close icon-close" id="close-drop" ></a>
    <span class="title">Inicia sesión para disfrutar de todos los servicios</span>
    <div class="buttons">
      <a href="#" class="btn facebook">
        <span class="icon icon-facebook"></span>
        <span class="text">Conectate con Facebook</span>
      </a>
      <a href="#" class="btn twitter">
        <span class="icon icon-twitter"></span>
        <span class="text">Conectate con Twitter</span>
      </a>
    </div>
  </div>

  <div class="Header-notification" id="notification">
    <p>
      <span class="icon-close"></span>
      <span class="text">Texto de notificacion</span>
    </p>
  </div>
</header>
