<div class="Login" id="login">
  <a href="#" class="Login-close icon-close"></a>
  <span class="Login-message">Bienvenidos a Radio Universal</span>
  <div class="Login-buttons">
    <a href="#" class="Login-btn facebook">
      <span class="icon icon-facebook"></span>
      <span class="text">Conectate con Facebook</span>
    </a>
    <a href="#" class="Login-btn twitter">
      <span class="icon icon-twitter"></span>
      <span class="text">Conectate con Twitter</span>
    </a>
  </div>
</div>