.Edit
  &-label
    subtitle_tablet(rosa)
    &.upload-image
      width calc(60% + 2em)
    span
      subtitle_tablet(rosa)
    img
      width 100%
      height 100%
  &-input
    paragraph_tablet(gris)
    width 60%

  &-btn-submit
    subtitle_tablet(blanco)
